.card {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3rem;
    align-items: center;
    background-size: 150%;
    background-position: 20% 40%;
    font-size: 1.25rem;
}

.card:hover::before {
    content: "";
    position: absolute;
    background-image: var(--card-image);
    width: 200px;
    aspect-ratio: 680 / 1024;
    z-index: 10;
    background-size: contain;
    right: -210px;
    bottom: -40px;
}

.region-shade {
    background: linear-gradient(90deg, var(--region-shade) 20%, transparent 100%);
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.mana-cost {
    background: linear-gradient(137deg, #a0dff6 16%, rgba(41, 150, 164, 0) 25%, rgba(41, 150, 164, 0) 104%, #ffffff 0),
        radial-gradient(circle at 50% 50%, #40373a, #005586 44%, #656565 73%, #2da5b7 76%);
    border: 2px solid #003453;
    border-radius: 100%;
    top: 0;
    left: 0;
    width: calc(1.25rem * 1.5);
    height: calc(1.25rem * 1.5);
    z-index: 1;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.card-name {
    z-index: 1;
    font-weight: 700;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

.card-count {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
    border-radius: 4px;
    height: calc(1.25rem * 1.5);
    width: calc(1.25rem * 1.3);
    background-color: #242424;
    border: 1px solid #6c5809;
    z-index: 1;
}