.custom-card-page {
    position: relative;
    display: grid;
    grid-template-columns: 4fr 1fr;
    flex-grow: 1;
    gap: 5%;
    margin: 5vh 0 0 5%;
    height: 95vh;
}

.custom-card-page>* {
    outline: 1px black solid;
}

.custom-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 16px;
    justify-content: center;
    width: 95%;
}

.custom-card {
    width: 100%;
    height: auto;
    background-color: var(--custom-card-color);
}

.custom-card-image {
    margin-left: 5%;
    width: 90%;
}

.custom-card-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
}

.like-region, .creator-region {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.created-by {
    width: auto;
    text-wrap: nowrap;
    margin-left: 5px;
}

.owner-name {
    color: white;
    margin-left: 5px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

.likes {
    margin-left: 5px;
}

.like {
    position: relative;
}

.like:hover::before {
    content: "";
    position: absolute;
    width: 150%;
    aspect-ratio: 1 / 1;
    background-color: rgba(255, 0, 0, 0.24);
    top: -25%;
    left: -25%;
}

.liked {
    color: red;
}