.custom-card-page {
    position: relative;
    flex: 1;
    margin: 5vh 3% 0 5%;
    height: 95vh;
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    gap: 3%;
}

.custom-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: max-content;
    justify-content: center;
    min-height: 100%;
    width: 100%;
    font-size: 1rem;
    background-color: var(--custom-card-page-bg);
}

.custom-card {
    width: 100%;
    height: auto;
    border: 1px white solid;
    padding-top: 3%;
    color: var(--text-color);
}

.custom-card-image {
    margin-left: 5%;
    width: 90%;
    aspect-ratio: 680 / 1024;
    border-radius: 5px;
    color: var(--text-color);
}

.card-name {
    font-size: 1.25rem;
    text-align: center;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

.custom-card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.like-region {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.creator-region {
    display: flex;
    justify-content: center;
}

.created-by {
    width: auto;
    text-wrap: nowrap;
    margin-left: 5px;
}

.owner-name {
    color: white;
    margin-left: 5px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

.likes {
    margin-left: 5px;
}

.like {
    position: relative;
}

.like>.like-hover-bg {
    position: absolute;
    width: 0%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background: radial-gradient(circle, rgba(255, 0, 0, .6) 0%, rgba(255, 255, 255, 0) 100%);
    transition: all .25s;
}

.like:hover>.like-hover-bg {
    width: 150%;
}

.liked {
    color: red;
}