.custom-card-page {
    position: relative;
    flex-grow: 1;
    margin: 5vh 3% 0 5%;
    height: 95vh;
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    gap: 3%;
}

.custom-card-page>* {
    outline: 1px white solid;
}

.custom-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 16px;
    justify-content: center;
    width: 95%;
}

.custom-card {
    width: 100%;
    height: auto;
    background-color: var(--custom-card-color);
    border-radius: 10px;
    padding-top: 3%;
}

.custom-card-image {
    margin-left: 5%;
    width: 90%;
    aspect-ratio: 680 / 1024;
}

.custom-card-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
}

.like-region, .creator-region {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.created-by {
    width: auto;
    text-wrap: nowrap;
    margin-left: 5px;
}

.owner-name {
    color: white;
    margin-left: 5px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

.likes {
    margin-left: 5px;
}

.like {
    position: relative;
}

.like>.like-hover-bg {
    position: absolute;
    width: 0%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background: radial-gradient(circle, rgba(255, 0, 0, .6) 0%, rgba(255, 255, 255, 0) 100%);
    transition: all .25s;
}

.like:hover>.like-hover-bg {
    width: 150%;
}

.liked {
    color: red;
}