.featured-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 5%;
    justify-content: center;
    width: 60%;
    margin-bottom: 5%;
}

.featured-section hr {
    margin: 3% 0;
}

.featured-section h2 {
    margin: 0;
}

.featured-section iframe {
    margin: auto;
}