.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    flex: 1;
    color: var(--text-color);
}

.featured-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    min-width: 800px;
    width: 60%;
    margin-bottom: 5%;
}

.featured-section> * {
    flex: 1 1 0;
    display: grid;
    grid-template-columns: 3fr 5fr;
    column-gap: 5%;
    justify-items: center;
}

.featured-section>div>div {
    width: 100%;
}

.featured-section hr {
    margin: 3% 0;
}

.featured-section h2 {
    margin: 0;
}

.featured-section iframe {
    margin: auto;
}