@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap');

:root {
    --header-color: #da6821;
    --background-gradient: linear-gradient(130deg, rgba(2,48,71,1) 0%, rgba(185,183,143,1) 100%);
    --eternal-color: #00007D;
    --standard-color: #7D0000;
    --accept-color: #3387ff;
    --reject-color: #ff4b33;
}

body {
    margin: 0;
    background: var(--background-gradient);
    font-family: 'Epilogue', sans-serif;
    min-height: 100vh;
}

.header {
    position: relative;
    display: flex;
    align-items: stretch;
    font-size: 2rem;
    width: 70%;
    height: 5rem;
    margin-left: 50%;
    transform: translate(-50%);
    background-color: var(--header-color);
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.header-logo {
    padding: 0;
    margin-left: 5%;
    margin-right: auto;
    height: 80%;
    align-self: center;
}

.hyperlink {
    text-decoration: none;
    color: inherit;
    transition: all .3s;
    padding: 1.5rem 3%;
    box-sizing: border-box;
}

.hyperlink:hover,
.hyperlink.current {
    background-color: #219ebc;
}

.hyperlink:last-of-type {
    border-bottom-right-radius: 15px;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
}


