@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap');

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

* {
    margin: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #263d55;
}

::-webkit-scrollbar-thumb {
    background-color: #43668a;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #35526e;
}

@property --bg-grad-x {
    syntax: "<length>";
    initial-value: 0px;
    inherits: false;
}

@property --bg-grad-y {
    syntax: "<length>";
    initial-value: 0px;
    inherits: false;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    /* background-size: 100vw 200vh; */
    font-family: 'Epilogue', sans-serif;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;

    --sidebar-color: #212121;
    --sidebar-hover-color: #485460;
    --accept-color: #27ae60;
    --reject-color: #c0392b;
    --mouse-follow-color: #222222;
    --bg-color: #121212;
    --text-color: #ecf0f1;
    --custom-card-color: #283746;
    --accent-color: #FF6E40;
    --link-color: #40C4FF;
    --button-color: #FFAB91;
    --border-color: #333333;
    --dropdown-color: #283746;
    --input-color: #283746;
    --filters-background: #1c1c1c;
    --modal-background: #1c1c1c;
    --custom-card-page-bg: #1c1c1c;

    --bandle-city: #dae371;
    --bilgewater: #823322;
    --demacia: #e2d2ae;
    --freljord: #6bcff0;
    --ionia: #c97491;
    --noxus: #ac3c34;
    --pnz: #f0a15d;
    --runeterra: #a38d55;
    --shadow-isles: #0cac91;
    --shurima: #e8c62f;
    --targon: #8053f3;
}

#tracking-circle {
    height: 800px;
    width: 800px;
    position: fixed;
    top: var(--bg-grad-y);
    left: var(--bg-grad-x);
    translate: -50% -50%;
    background: radial-gradient(circle, var(--mouse-follow-color), var(--bg-color) 70%);
}

input, textarea, button {
    font-family: inherit;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    min-width: 15rem;
    width: 15%;
    height: 100vh;
    background-color: var(--sidebar-color);
    color: var(--text-color);
    transition: min-width .35s, width .35s;
}

.sidebar.collapsed {
    min-width: 0%;
    width: 2.5rem;
}

.hyperlink-text {
    width: 100%;
    overflow: hidden;
    transition: all .45s;
    text-wrap: nowrap;
    text-align: left;
}

.sidebar.collapsed .hyperlink-text {
    width: 0px;
}

.hyperlink,
.collapse-button {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
    transition: all .3s;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.hyperlink:hover,
.collapse-button:hover,
.hyperlink.current {
    background-color: var(--sidebar-hover-color);
}

.hyperlink>*:first-child,
.collapse-button>*:first-child {
    height: 1.3rem;
    margin: 0 10px 0;
}

.hyperlink:first-of-type,
.collapse-button {
    margin-top: auto;
}

.collapse-button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.collapse-icon {
    transition: rotate .35s;
}

.sidebar.collapsed .collapse-icon {
    rotate: 180deg;
}

