body {
    margin: 0;
    background-color: #023047;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 26pt;
    width: 70%;
    margin-left: 50%;
    transform: translate(-50%);
    background-color: #da6821;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.header>* {
    padding: calc((8vh - 26pt) / 2) 5%;
}

.header-logo {
    padding: 0;
    margin-left: 5%;
    margin-right: auto;
    height: 7vh;
    align-self: center;
}

.hyperlink {
    text-decoration: none;
    color: inherit;
    transition: all .3s;
}

.hyperlink:hover,
.hyperlink.current {
    background-color: #219ebc;
}

.hyperlink:last-of-type {
    padding-right: 2%;
    padding-left: 2%;
    margin-right: 3%;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
}
