@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

:root {
    --header-color: #da6821;
    --header-hover-color: #23a1e9;
    --eternal-color: #00007D;
    --standard-color: #7D0000;
    --accept-color: #3387ff;
    --reject-color: #ff4b33;
    --gradient-start: #1b70b2;
    --gradient-end: #d79704;
}

body {
    margin: 0;
    background: linear-gradient(var(--angle), var(--gradient-start), var(--gradient-end));
    /* background-size: 100vw 100vw; */
    font-family: 'Epilogue', sans-serif;
    min-height: 100vh;
    animation: rotate-background 20s linear infinite;
}

@keyframes rotate-background {
    to {
        --angle: 360deg;
    }
}

.page {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 2vh;
    height: calc(100vh - 5rem - 2vh);
    width: 90%;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 70%;
    height: 5rem;
    margin-left: 50%;
    transform: translate(-50%);
    background-color: var(--header-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 20px;
    justify-content: center;
    overflow: auto;
}

.card {
    position: relative;
    width: 100%;
    background-image: url("Zeb.png");
    background-size: contain;
    aspect-ratio: 680 / 1024;
    overflow: hidden;
}

.shade {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}